*{
    box-sizing: border-box;
}
body, h1, h2, p{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
    font-weight: bolder;
}
body{
    /* display: flex; */
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    /* background-image: url('..jpg'); */

    background-image: repeating-linear-gradient( #6db784, #ffffff, #f9e45b, #1b4d89);
}
header{
    display: flex;
    width: 100%;
    height: auto;
    background-color: #1b4d89;
    color: #ffffff;
    padding: 1rem 0;
    align-content: right;
    justify-content: right;
}
nav ul{
    display: flex;
    flex-direction: row;

    }
 li{
    list-style: none;
    margin-right: 5px;
    padding: 2px;
    }
.name{
    margin-right: 1000px;
    margin-top: 0;
    left: 0;
    font-size: 5;
    font-family: cursive;
    /* font-weight: 100; */
}

nav a{
    
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    
}
a:hover{
    color: aqua;
}
footer{
    /* display: flex; */
    text-align: center;
    padding: 1rem 0;
    background-color: #1b4d89;
    color: #fff;
    margin-top: 10px;
}
